<app-header></app-header>

<body>
  <div class="form-container">
    <h2>Ejercicio 2</h2>
    <form id="orderForm" [formGroup]="orderForm">
      <div class="form-group">
        <label for="anosDeUso">Numero de iteraciones</label>
        <input type="number" class="form-control" formControlName="numIteraciones" placeholder="Ingrese el número de iteraciones">
      </div>
      <div class="form-group">
        <button type="button" class="btn-submit" (click)="submitForm()">Generar</button>
        <br>
        <button type="button" class="btn-clear" (click)="clearForm()">Limpiar</button>
      </div>
    </form>
    
  </div>

    <!-- Tabla -->
    <div class="table-container">
      <h2></h2>
      <div class="table-scrollable">
        <div class="simulation-results">

          <p *ngIf="bestSolution">
              x1 = {{ bestSolution[0] }} <br>
              x2 = {{ bestSolution[1] }} <br>
              Valor mínimo de Z = {{ Z }} <br>
              Mejor solución encontrada en la iteración: {{ iterationBestSolution ? iterationBestSolution + 1 : 'N/A' }}
              Se hicieron {{ NUM_ITERATIONS }} iteraciones.
          </p>
          <p *ngIf="!bestSolution">
              No se encontró una solución factible en las iteraciones realizadas.
          </p>
      </div>
      </div>
    </div>


    
    
</body>

<app-footer></app-footer>
